@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--blue-100);
  height: 100vh;
}

:root {
  --blue-100: #303055;
  --green-100: #448a32;
  --green-200: #6ec41b;
  --green-300: #9ecb0e;
  --green-400: #92c752;
  --green-500: #e5ec2e;
  --green-600: #b5c1c3;
  --grey-100: #b5c1c3;
  --grey-200: #b5c1c3;
  --pink-100: #fbb0ed;
  --black-100: #000;
  --white-100: #fff;
}
